nav {
	padding-top: 12px;
	border: none !important;
	//background: $gradient-top-right;
}
nav a:hover {
	text-decoration: underline !important;
}
.navbar-brand, .nav-link{
    color: #FFFFFF !important;
}
