/*Currently, the CSS is being redesigned with Bootstrap in mind. This could mess up the website for a while.*/
@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);

@import 'colors';
@import 'nav';
@import 'blog';

html {
	min-height: 100%;
}
body {
	font-family: 'Comfortaa', cursive;
	background: $gradient-top-right;

}
iframe{
	border-style: none;
}
/*All of the link css applies to all links (DRY principle), b/c then it stands out more against the background*/
a{
	color: #00B8FF;
	text-decoration: none;
}
img.pfp {
	width: 80px;
}
img.logo {
	height: 15px;
	width: 15px;
}
.credits{
    font-size:8px;
}
h1{
	text-align: center;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1, span.infohighlight {
    color: black;
}
footer{
	margin: 5px;
	text-align: center;
	font-size:9px
}
.content{
	border-radius: 5px;
	background-color: #ffffff;
	padding-top: 2%;
	min-height: 90vh;
}
th {
	text-align: center;
}
div>code{
	text-align:left;
}